p.a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.btnA {
    background-color: #037e0e;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 20px;
}

.btnB {
    background-color: #032368;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 20px;
}

.btnC {
    background-color: #680303;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 20px;
}

.newsInfo {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

* {
    box-sizing: border-box;
  }
  

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    /*height: 300px;  Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }